* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    padding: 30px;
    margin: auto;
}

.kotak {
    width: 200px;
    height: 200px;
    background-color: salmon;
    transition: 0.5s ease all;
    border-radius: 0 50% 50% 50%;
    background-image: url(1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.kotak:hover {
    cursor: pointer;
}

.kotak:active {
    width: 500px;
    height: 500px;
}