* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 70px;
}

.container {
    width: 80%;
    padding: 30px;
    margin: auto;
}

body {
    background-image: url(webb.png);
}

header {
    margin-bottom: 10px;
}

.header1 {
    width: 100%;
    height: 300px;
    background: linear-gradient(to left bottom, yellow, salmon, black);
    text-align: center;
    font-family: arial;
    line-height: 300px;
    color: rgb(233, 233, 233);
}

.header2 {
    width: 100%;
    height: 300px;
    background: linear-gradient(to left bottom, yellow 50%, salmon 50%);
    text-align: center;
    font-family: arial;
    line-height: 300px;
    color: rgb(233, 233, 233);
}

.header3 {
    width: 100%;
    height: 300px;
    background: linear-gradient(to left bottom, yellow 50%, salmon 50%, lime 50%);
    text-align: center;
    font-family: arial;
    line-height: 300px;
    color: rgb(233, 233, 233);
}